@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Not What  Here</h1>
    <p>Learn about <a href="https://store.google.com/product/pixel_6a?utm_source=hpp&utm_medium=google_oo&utm_campaign=GS107119&pli=1&hl=en-GB"</a>Click here</p>
</div>
